<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.justcode.hxl.viewutil">

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">


        <provider
                android:name=".shape_selector_util.core.BackgroundContentProvider"
                android:authorities="${applicationId}.backgroundLibrary"
                android:exported="false"
                android:multiprocess="true"/>

        <activity
                android:name=".recycleview_util.GreedoLayoutManagerActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".自定义控件.属性动画.AnimatorPathActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".自定义控件.属性动画.AnimatorSetActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".recycleview_util.WeatherActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".recycleview_util.ShopActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".recycleview_util.DiscreateScrollLayoutMangerActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".自定义控件.属性动画.ObjectAnimatorActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".recycleview_util.HiveLayoutmanagerActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".自定义控件.属性动画.OfOjectActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".自定义控件.属性动画.ValueAnimatorActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".自定义控件.视图动画.FrameAnimationActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".自定义控件.视图动画.ViewAnimationDemoActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".自定义控件.视图动画.ViewAnimationInterpolatorActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".recycleview_util.ChipsLayoutManagerActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".recycleview_util.CarouseLayoutManagerActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".自定义控件.视图动画.ViewAnimationActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".自定义控件.绘图基础.DrawingBasisDemoActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".recycleview_util.FanLayoutManagerActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".自定义控件.绘图基础.DrawingBasisActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".shape_selector_util.ShapeAndSelectorActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".recycleview_util.NormolActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>